:root {
    /* COLORS */
    --background: hsl(185, 75%, 39%);
    --background-card: #fff; 

    --text-h2: hsl(229, 23%, 23%);
    --text-p:hsl(227, 10%, 46%);
    --text-span: hsl(227, 10%, 46%);

    --border: hsl(0, 0%, 59%);

    /* FONTS */
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background);
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg"); 
    background-repeat: no-repeat; 
    background-position: calc(100% - 50vw) calc(100% - 50vh), calc(0% + 50vw) calc(0% + 50vh);
}

.card {
    max-width: 400px;
    margin-bottom: 25px;
}